/* Basic CSS stylesheet from https://gist.github.com/jacksarick/9fab0439a0b5a043cf461f616195cd84 */

body {
	margin: 0 auto;
	max-width: 40em;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:calc(.75em + .5vw);
	margin-top: 1em;
	padding-top: 1em;
}

h1, h2, strong {
	color: #333;
}

pre {
	background: #eee;
	white-space: pre;
}

code {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre, p {
	padding: 1em;
}

ul {
	list-style-type:"↳";
}

li {
	padding-left: 1em;
}